

* {
    font-family: 'GFS Didot', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #1f2833; */
    /* color:#fff */
    

}

@media screen and (max-width: 540px) {
    #navLogo {
        /* top: 1rem; */
    }
}

.avatar {
    height: 90px;
}

/* HOME STYLING */

.homePage {
    height: 100vh;
    /* background: url("./assets/bgHome.jpg"); */
    background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  color: black;
}


/* ABOUT STYLING */



.aboutp {
    display: flex;
    justify-self: enter;
    font-size: 1.1rem;
    color:white;
}


/* CONTACT STYLING */

.subbtn {
    background-color: #45a29e;
}

/* Attorneys */

.profpic {
    height: 180px;
    scale: 1.0;
}

/* Profile stlying */

.name {
    background-color: #111827;
    color: #fff;
    height: 190px;
}
/* 
.profpic {
    position:absolute;
    top:20vh;
    left: 15vw;
    
} */


.profile {
    position:relative;

}

.scrollable {
    overflow-y: scroll;
    max-height:500px;
    /* height: 50%;  */
    height: 600px;
    width: 60%;
    right: 40px;
    
}	