
* {
  font-family: "GFS Didot", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #1f2833; */
  /* color:#fff */
}

.mainContent {
    min-height: calc(100vh - 520px);
}

.avatar {
  height: 90px;
}

/* HOME STYLING */

.homePage {
  height: 100vh;
  /* background: url("./assets/bgHome.jpg"); */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  color: black;
}

/* ABOUT STYLING */

.aboutp {
  display: flex;
  justify-self: enter;
  font-size: 1.1rem;
  color: white;
}

/* CONTACT STYLING */

.subbtn {
  background-color: #45a29e;
}

/* Attorneys */

.profpic {
  height: 180px;
  scale: 1;
}

/* Profile stlying */

.name {
  background-color: #111827;
  color: #fff;
  height: 9rem;
}

.profpic {
    
   right:0;

}


.scrollable {
  overflow-y: scroll;
  max-height: 500px;
  height: 600px;
  
}

.bgwood {
background: url('https://www.stockvault.net/data/2021/01/02/282170/preview16.jpg');
background-size:contain;
/* opacity: 95%; */
}



.attorneyhome {
  background-color: #111827;
}

.tshadow {
  text-shadow: 2px 1px #111827;
}

.bgpractice {
  background: hsla(0, 0%, 100%, 1);

background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 99.5%, hsla(221, 39%, 11%, 1) 100%);
}

.mainlogo {
  font-family: 'Noto Serif', serif;
  font-weight:bolder;
  color:#111827;
  font-size: 1.2rem;
  
}

.xllogofont {
  font-size: 1.8rem;
}

.sublogo {
  margin-left:5rem;
  color:#111827;
}

.pclogo {
  font-size: xx-small;
  font-weight: 100;
}

.lineitem {
  overflow: hidden;
  text-align: center;
}

.lineitem:before,
.lineitem:after {
  background-color: #111827;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width:24%;
}

.lineitem:before {
  right: 0.5em;
  margin-left: -50%;
}

.lineitem:after {
  left: 0.5em;
  margin-right: -50%;
}

@media screen and (max-width: 992px) {
  .bgwood {
    background-image: url('./assets/woodBG.jpg');

  }

  .logoEl {
    width: 23.438rem;
    margin-left: -50px;
  }

  .mainlogo {
    
    font-size: 1rem;
    
  }
  
  .xllogofont {
    font-size: 1.6rem;
  }
}