@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #1f2833; */
    color:#fff;
    

}

.avatar {
    height: 90px;
}

/* HOME STYLING */




/* ABOUT STYLING */

.aboutIcon {
    padding-bottom: 10px;;
    padding-top: 10px;
    height: 60px;
    color: #45a29e;
    margin: 0 auto;
    animation: wiggle 5s linear infinite
    
}

@keyframes wiggle{
    100%{transform:translateX(-1px)}
    50%{transform:translateX(2px)}
    0%{transform:translateX(-1px)}
}

.aboutp {
    display: flex;
    justify-self: enter;
    font-size: 1.1rem;
    color:white;
}


/* CONTACT STYLING */

.subbtn {
    background-color: #45a29e;
}